<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/main.css">
    <title>后台管理</title>
</head>

<body>
    <div>
        <header class="header-bar">
            <img src="http://p1.bqimg.com/567571/b917b3d73b0e1da7.png" alt="">
        </header>
        <nav class="navbar navbar-default">
            <div class="container">
                <ul class="nav navbar-nav">
                    
                    {% for categories in category %}

                    <li>
                        <a href="/">{{ categories.cateName }}</a>
                    </li>

                    {% endfor %}

                </ul>
            </div>
        </nav>
    </div>

    {% if userinfo._id %}
    <div class="msg">
        

        {% if userinfo.isAdmin %}
        欢迎管理员：{{ userinfo.username }}
        <a href="/admin">进入管理</a>
        <a href="javascript:;" class="loginout">退出</a>
        {% else %}
        欢迎用户：{{ userinfo.username }}
        <a href="javascript:;" class="loginout">退出</a>
        {% endif %}
    </div>

    {% else %}

    <div class="signin2">
        <div class="aa">
            <div>
                <input type="text" id="user" class="user2"> 用户
            </div>
            <div>
                <input type="password" id="pwd" class="pwd2"> 密码
            </div>
            <input type="button" value="登录" class="btn2">
        </div>
    </div>
    
    <div class="signin">
        <div>
            <input type="text" id="user" class="user"> 用户
        </div>
        <div>
            <input type="password" id="pwd" class="pwd"> 密码
        </div>
        <div>
            <input type="password" id="pwd" class="repwd"> 确认密码
        </div>
        <input type="button" value="注册" class="btn">
    </div>
    

    {% endif %}


    <!--<div class="container container-fluid">
        <div class="row">
            <main class="col-md-8">

            </main>
            <aside class="col-md-4">

            </aside>
        </div>
    </div>
    <footer></footer>-->

    <script src="/public/js/jquery.js"></script>
    <script src="/public/js/index.js"></script>
    <script src="/public/bootstrap/js/bootstrap.min.js"></script>
    <!--<script src="/public/js/main.js"></script>-->
</body>

</html>
