{% extends "index.layout.html" %}

{% block content%}
    <!-- 文章列表 -->
    <aside class="col-md-8">
        <div class="card article-item">
            <h3>{{content.title}}</h3>
            <div class="article-timebar">
                作者：<span class="colInfo">{{content.user.username}}</span>
                时间：<span class="colInfo">{{content.addTime|date('Y年m月d日 H:i:s',-8*60)}}</span>
                阅读：<span class="colInfo">{{content.views}}</span>
                评论：<span class="colInfo">10</span>
            </div>
            <div class="article-content">
                {{content.content}}
            </div>
        </div>
    </aside>

    {% include "login.layout.html" %}

{% endblock %}
